/* not really animation but disables accidentally dragging and making a new background, I couldn't do this inline */
.infobox img
{
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


/* scrolling marquee, for images */
.custommarquee {
  -webkit-animation: custommarquee 20s linear infinite;
  -moz-animation: custommarquee 20s linear infinite;
  -o-animation: custommarquee 20s linear infinite;
  animation: custommarquee 20s linear infinite;
}

@-webkit-keyframes custommarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@-moz-keyframes custommarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@-o-keyframes custommarquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes custommarquee {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}


/* shaking "POKEMON" */
.shake1 {
    -webkit-animation: shake1 2s linear infinite;
    -moz-animation: shake1 2s linear infinite;
    -o-animation: shake1 2s linear infinite;
    animation: shake1 2s linear infinite;
}

@-webkit-keyframes shake1 {
    0% {
        transform: translate(-6px, -1px);
    }
    20% {
        transform: translate(1px, 4px);
    }
    45% {
        transform: translate(6px, -1px);
    }
    80% {
        transform: translate(-1px, 3px);
    }
    100% {
        transform: translate(-6px, -1px);
    }
}

@-moz-keyframes shake1 {
    0% {
        transform: translate(-6px, -1px);
    }
    20% {
        transform: translate(1px, 4px);
    }
    45% {
        transform: translate(6px, -1px);
    }
    80% {
        transform: translate(-1px, 3px);
    }
    100% {
        transform: translate(-6px, -1px);
    }
}

@-o-keyframes shake1 {
    0% {
        transform: translate(-6px, -1px);
    }
    20% {
        transform: translate(1px, 4px);
    }
    45% {
        transform: translate(6px, -1px);
    }
    80% {
        transform: translate(-1px, 3px);
    }
    100% {
        transform: translate(-6px, -1px);
    }
}

@keyframes shake1 {
    0% {
        transform: translate(-6px, -1px);
    }
    20% {
        transform: translate(1px, 4px);
    }
    45% {
        transform: translate(6px, -1px);
    }
    80% {
        transform: translate(-1px, 3px);
    }
    100% {
        transform: translate(-6px, -1px);
    }
}


/* shaking "URANIUM SHOWDOWN" */
.shake2 {
    -webkit-animation: shake2 2s linear infinite;
    -moz-animation: shake2 2s linear infinite;
    -o-animation: shake2 2s linear infinite;
    animation: shake2 2s linear infinite;
}

@-webkit-keyframes shake2 {
    0% {
        transform: translate(-5px, 2px);
    }
    30% {
        transform: translate(1px, -1px);
    }
    55% {
        transform: translate(5px, 2px);
    }
    70% {
        transform: translate(-1px, -2px);
    }
    100% {
        transform: translate(-5px, 2px);
    }
}

@-moz-keyframes shake2 {
    0% {
        transform: translate(-5px, 2px);
    }
    30% {
        transform: translate(1px, -1px);
    }
    55% {
        transform: translate(5px, 2px);
    }
    70% {
        transform: translate(-1px, -2px);
    }
    100% {
        transform: translate(-5px, 2px);
    }
}

@-o-keyframes shake2 {
    0% {
        transform: translate(-5px, 2px);
    }
    30% {
        transform: translate(1px, -1px);
    }
    55% {
        transform: translate(5px, 2px);
    }
    70% {
        transform: translate(-1px, -2px);
    }
    100% {
        transform: translate(-5px, 2px);
    }
}

@keyframes shake2 {
    0% {
        transform: translate(-5px, 2px);
    }
    30% {
        transform: translate(1px, -1px);
    }
    55% {
        transform: translate(5px, 2px);
    }
    70% {
        transform: translate(-1px, -2px);
    }
    100% {
        transform: translate(-5px, 2px);
    }
}